        <ul id="mainnav">
            <li>
                <a href="/blogs/">
                <span class="icon"> <i aria-hidden="true" class="icon-quill"></i></span>
                <span> 精技 </span>
            </a>
            </li>
            <li>
            <a href="/projects/">
                <span class="icon"> <i aria-hidden="true" class="icon-console"></i></span>
                <span> 实作 </span>
            </a>
            </li>
            <li>
            <a href="/talks/">
                <span class="icon"> <i aria-hidden="true" class="icon-stats"></i></span>
                <span> 谈笑 </span>
            </a>
            </li>
            <li>
            <a href="/about/">
                <span class="icon"> <i aria-hidden="true" class="icon-linkedin"></i></span>
                <span> 自嘲 </span>
            </a>
            </li>
        </ul>
